{% extends 'adminbase.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet light tasks-widget bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-haze bold uppercase">Lista de autores</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-primary" href="{{ path('author_new') }}">Adicionar autor</a>
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Biografia</th>
                    <th>Nascimento</th>
                    <th>Foto</th>
                    <th>Criado em</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for author in authors %}
                    <tr>
                        <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.id }}</a></td>
                        <td>{{ author.name }}</td>
                        <td>{{ author.bio }}</td>
                        <td>{% if author.birthday %}{{ author.birthday | date('d/m/Y') }}{% endif %}</td>
                        <td>{{ author.photo }}</td>
                        <td>{% if author.createdAt %}{{ author.createdAt | date('d/m/Y') }}{% endif %}</td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{{ path('author_show', { 'id': author.id }) }}">Ver detalhes</a>
                            <a class="btn btn-primary btn-sm" href="{{ path('author_edit', { 'id': author.id }) }}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}