{% extends 'adminbase.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet light tasks-widget bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-haze bold uppercase">Autor: {{ author.name }}</span>
                    </div>
                    <div class="actions">
                        {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-danger btn-sm" value="Excluir">
                        {{ form_end(delete_form) }}
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-stripped">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ author.id }}</td>
                        </tr>
                        <tr>
                            <th>Nome</th>
                            <td>{{ author.name }}</td>
                        </tr>
                        <tr>
                            <th>Biografia</th>
                            <td>{{ author.bio }}</td>
                        </tr>
                        <tr>
                            <th>Nascimento</th>
                            <td>{% if author.birthday %}{{ author.birthday | date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Foto</th>
                            <td>{{ author.photo }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <a class="btn btn-default" href="{{ path('author_index') }}">Voltar para a lista</a>
            <a class="btn btn-primary" href="{{ path('author_edit', { 'id': author.id }) }}">Editar</a>
        </div>
    </div>
{% endblock %}
